.viz {
  width: 50vw;

  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #595354;
  float: left;
}
.blacked {
  background-color: black;
}
.item {
  background-color: green;
  border-radius: 50%;
}
.monster {
  background-color: #a5002c;
  border-radius: 50%;
}
.portal {
  background-color: purple;
}
.status {
  font-family: 'Metamorphous', cursive;
  font-size: 1.2em;
  background-color: #595354;
  color: beige;
  padding: 0.2em;
  margin-bottom: 1vw;
}
h1, p, ul {
  font-family: 'Metamorphous', cursive;
}

#tile {
  display: table-cell;
  height: 1vw;
  width: 1vw;
}
span .player, span .monster, span .portal, span .item, span .boss{
  padding:0.7em;
  margin-top:2em;
}
.container > div{
  margin-top:1em;
}
.container {
  margin-top: 1em;
}
div {
  padding: 0px;
  margin: 0px;
}
.floor {
  background-color: #595354;
}
.wall {
  background-color: #a8999b;
}
.player {
  background-color: blue;
  border-radius: 50%;
  color:white;
  
}
.boss {
  background-color: white;
  color: black;
}
body {
  background-color: #d1cacc;
  color: black;
  font-family: 'Metamorphous', cursive;
  text-align: center;
}

.old {
  opacity: 1;
}
.older {
  opacity: 0.7;
}
.oldest {
  opacity: 0.5;
}
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #473d40;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #473d40;
  width: 85%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.hidden {
  display: none;
  color: red;
}
.right {
}
ul {
  list-style-position: inside;
}
.itemMess {
  color: green;
}
.fightMess {
  color: red;
}
button {
  color: beige;
  touch-action: manipulation;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 50%;
  font-size: 3vw;
  background-color: #473d40;
  text-decoration: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.credit {
  font-family: 'Metamorphous', cursive;
  font-size: 0.5em !important;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #473d40;
  margin-top: 100px !important;
  padding:2em;
  border-radius: 70%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.credit:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  border: 3px solid yellow;
  color: yellow;
}
.credit a h5{
  font-size: 0.5em;
}